.product_content {
    display: flex;
    width: auto;
    margin: 80px 0 0 50px;
    height: 1000px;
}

.product_content_slide {
    width: 70%;
    height: 300px;
    margin-left: 40px;
}
.product_anh1 {
    width: 110%;
    height: 300px;
}
.content_title {
    margin: 25px auto 0; /* Đặt auto để căn giữa */
    text-align: center; /* Căn chữ vào giữa */
    font-size: 18px;
    display: block; /* Đảm bảo nó là block để dễ căn chỉnh */
}

.sanpham {
    text-align: left;
    width: 113%;
}
.product_page {
    text-align: center;
    justify-content: center;
    display: flex;
}
.btn_product {
    padding: 15px 20px;
    background-color: var(--color-white);
    color: var(--color-black);
    margin: 20px 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
    &:hover {
        background-color: var(--color-green-hover);
        cursor: pointer;
    }
}
.btn_product.active {
    border: none;
    border-radius: 50%;
    background-color: var(--color-green);
    color: var(--color-white);
}
